body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

#profile {
	width: 238.5px;
	height: 238.5px;
}

#topper {
	height:400px;
}

.jobfocus{
	background-color:yellow;
}