body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

#profile {
	width: 238.5px;
	height: 238.5px;
}

#topper {
	height:400px;
}

.projThumb {
	clear:left;
	float:left;
	width: 180px;
	height:100.875px;
	margin: 0 20px 10px 0;
}

.jobfocus{
	background-color:yellow;
}

/* Testing starts here */

.jobDesc {
	display:none;
}

.job {
	/* border: 2px dashed black; */
	margin-top: 15px;
	border-bottom: 1px solid gray;
}


.jobTitle{
	font-weight:bold;
	line-height: 30px;
}

.headline {
	border-bottom: 4px solid black;
	margin-bottom: 10px;
}

.socMediaList {
	display:inline-block;
	margin: 20px;
}

.socMediaList ul {
	list-style-type: square;
}

#coderbits {
	float:left;
	margin: 20px;
}

#profile {
	margin: 10px;
}
